<settings>
    <mirrors>
        <!-- Redirect the dead/slow INRIA repositories to a blocked local address to fail fast -->
        <mirror>
            <id>block-dead-inria-release</id>
            <mirrorOf>gforge.inria.fr-release</mirrorOf>
            <name>Block dead release repo</name>
            <url>http://0.0.0.0/</url>
        </mirror>
        <mirror>
            <id>block-dead-inria-snapshot</id>
            <mirrorOf>maven.inria.fr-snapshot</mirrorOf>
            <name>Block dead snapshot repo</name>
            <url>http://0.0.0.0/</url>
        </mirror>
    </mirrors>
</settings>