<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <!-- Redirect ALL remote repositories to Maven Central.
         This prevents failures from dead/unreachable repos like maven.java.net
         and Apache SNAPSHOT repos that don't have test-jars. -->
    <mirror>
      <id>central-mirror</id>
      <mirrorOf>*</mirrorOf>
      <url>https://repo1.maven.org/maven2</url>
      <name>Maven Central (all repos)</name>
    </mirror>
  </mirrors>
</settings>
